.new-navbar {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../../public/assets/img/slider-img-3.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}