@import "./fonts";

$color-primary:#ff7700;
$color-secondary:#d92662;
$color-white: white;
$color-gray-1: #e3e2e2;
// $color-primary:#f9faf9;
$color-primary-1:#434343;
$color-primary-2:#DA1F26;
//font size
$default-font:1.6rem;
$font-medium:2.4rem;
$font-large:3.2rem;
$font-heading:4.8rem;